<h1>Dream Boys</h1>
<h4>List of Male Bias Idols</h4>

<% @dreamboys.each do |dreamboy| %>
<h3><%= dreamboy.idol.stage_name  %></h3>
<h4> Bias Rank: <%= dreamboy.notes %></h4>
<h3><a href="/idols/<%= dreamboy.idol.id %>/dreamboys/<%= dreamboy.id %>/edit">Edit Bias Rank</a></h3>

<form action="/idols/<%= dreamboy.idol.id %>/dreamboys/<%= dreamboy.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="submit"> No Longer a Bias</button>
  </form> 
<% end %>